<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="USER_HOME" value="logs"/>

    <!-- File是输出的方向通向文件的 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--日志输出路径-->
        <file>${USER_HOME}/log.File.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${USER_HOME}/logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>

        <encoder charset="UTF-8">
            <pattern>%d{HH:mm:ss.SSS} [%thread] [%X{TRACE_ID}] %-5level %logger{36} - %msg%n</pattern>
        </encoder>

    </appender>


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>%d{HH:mm:ss.SSS} [%thread] [%X{TRACE_ID}] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <root level="info">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>