<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jcy.tradingstrategies.business.dao.AStockDao">


    <insert id="insertBatch">
        INSERT INTO a_stock (code,name,jys,gl) VALUES
        <foreach collection="list" separator="," item="item">
            (#{item.code},#{item.name},#{item.jys},#{item.gl})
        </foreach>
    </insert>

    <delete id="deleteAll">
        truncate table a_stock
    </delete>
</mapper>

