<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jcy.tradingstrategies.business.dao.LowWarningDao">


    <insert id="insertBatch">
        insert into low_warning(code,name,time,low_limit_warning,is_alert) values
        <foreach collection="list" separator="," item="item">
            (#{item.code},#{item.name},#{time},#{item.lowLimitWarning},"0")
        </foreach>
    </insert>
    <update id="updateAlert">
        update low_warning set is_alert = '1',update_time = now() where id = #{id}
    </update>
</mapper>

